#about-us {
  padding: 30px;
}

a {
  color: #10c0da;
  font-size: 16px;
}

#left-pane p {
  font-family: 'Comfortaa';
  font-weight: 200;
  margin-top: 20px;
}

#team-grid {
  margin-top: 40px;
  width: 944px;
  height: 324px;
  border-radius: 10px;
  background-image: linear-gradient(to left, #44507f, #596487);
  box-shadow: 25px 25px 54px 0 rgba(0, 0, 0, 0.28);
}

#profile-pic-wrap {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  padding-left: 0;
}

.profile-pic {
	z-index: 999;
	width: 200px;
  height: 200px;
  margin-top: 30px;
  margin-left: -60px;
	left: 33px;
	border: 3px solid #FFF;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	top: 0px;
	
  overflow:hidden;
  position: relative;
}

.profile-pic-entry span {
  text-transform: uppercase;
  margin-top: 30px;
  margin-left: -20px;
  position: absolute;
}

.amhed {
  background-image: url(/img/profile-pics/amhed.jpg);
  background-size: 100%;
}

.ed {
  background-image: url(/img/profile-pics/ed.jpg);
  background-size: 100%;
}

.andy {
  background-image: url(/img/profile-pics/andy.jpg);
  background-size: 100%;
}