body {
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-family: 'Comfortaa';
  font-size: 19px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  background-image: radial-gradient(circle at 59% 43%, #3c486a, #262f49);
}

p {
  margin: 0;
}

h1 {
  font-size: 30px;
  margin: 40px 0 40px 0;
}

ul li {
  line-height: 2;
}

h3 {
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.72;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  margin: 0;
}

.subtitle {
  font-family: 'Comfortaa';
  font-size: 18px;
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.72;
  letter-spacing: normal;
  color: #efefef;
  margin-top: 20px;
}

.App {
  height: 1000px;
}

.App-logo {
  background-image: url(/img/logo-white.png);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 107px;
  height: 86px;
}

.App header .menu-items {
  margin-top: 30px;
}

.App header .menu-item {
  width: 72px;
  height: 25px;
  margin: 20px 15px 0 0;
  color: #ffffff;
  text-decoration: none;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}